body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

<style>
         #tags-label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
         }
         #tags-icon {
            float: left;
            height: 32px;
            width: 32px;
         }
         #tags-description {
            margin: 0;
            padding: 0;
         }
      </style>
